*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}
h1{
    background-color: rgb(11, 8, 47);
    color: white;
    height: 5rem;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}
.choices{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap:3rem;
}

img{
    height:150px;
    width:150px;
    object-fit: cover;
    border-radius: 50%;

}
.choice:hover{
    cursor: pointer;
    background-color: rgb(11, 8, 47);
}
.choice{
    height:165px;
    width:165px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    font-size: 3rem;
    gap:3rem;
}
#score{
    font-size: 3.5rem;
}

#msg{
    display:inline;
    background-color:rgb(11, 8, 47) ;
    color:white;
    height:2rem;
    font-size: 1.5rem;
    padding:1rem;
    border-radius: 0.5rem;
   
    
}
.msg-container{
    margin-top: 5rem;
}
